.header {
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: #202225;

  .header-left {
    padding: 3px;
    object-fit: cover;
  }

  .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    .icon-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 100%;
      
      &:hover {
        cursor: pointer;
        background-color: #36393F;
      }

      &.close:hover {
        background-color: red;
      }

      .icon {
        font-size: 15px;
      }
    }

  }
}